body {
	font-family: sans-serif;
}
a, a:visited{
	color: blue;
}
menu {
	list-style-type: none;
}
menu > li {
	display: inline-block;
	margin: 4px;
}
ul.task-list {
	list-style-type: none;
}
ul.task-list > li:nth-child(odd){
	background-color: #eef;
}
span.task-id {
	font-weight: Bold;
}
span.task-title {
	display: inline-block;
	width: 500px;
}
span.task-status{
	font-weight: Bold;
	display: inline-block;
	width: 150px;
}
span.status-todo{
	color: red;
}
span.status-inprogress{
	color: blue;
}
span.status-done{
	color: green;
}
span.status-testing{
	color: orange;
}
span.status-feedback{
	color: grey;
}
